.cart_container {
    padding: 2rem 4rem;
  }
  .cart_container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #5E3EBB;
    background-color: rgba(128, 128, 128, 0.14);
    padding: 5px;
    border: 3px dashed white;
    outline-color: white;

  }
  .cart_container .titles {
    margin: 2rem 0 1rem 0;
  }
  .cart_container .titles h3 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #113855;
  }
  .cart_item,
  .cart_container .titles {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
  }
  .cart_item {
    border-top: 1px solid rgb(187, 187, 187);
    padding: 1rem 0;
  }
  .cart_container .titles .product_title {
    padding-left: 0.5rem;
  }
  .cart_container .titles .total {
    padding-right: 0.5rem;
    justify-self: right;
  }
  .cart_item .cart_product {
    display: flex;
  }
  .cart_item .cart_product img {
    width: 100px;
    max-width: 100%;
    margin-right: 1rem;
  }
  .cart_item .cart_product h3 {
    font-weight: 400;
  }
  .cart_item .cart_product button {
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background: none;
    color: gray;
  }
  .cart_item .cart_product button:hover {
    color: black;
  }
  
  .cart_item .cart_product_quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 0.5px solid rgb(177, 177, 177);
    border-radius: 5px;
  }
  .cart_item .cart_product_quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
  }
  .cart_item .cart_product_quantity .count {
    padding: 0.7rem 0;
  }
  .cart_item .cart_product_total_price {
    padding-right: 0.5rem;
    justify-self: right;
    font-weight: 700;
  }
  
  /* cart summary */
  .cart_summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 2rem;
  }
  .cart_summary .clear_cart {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    background: none;
    outline: none;
    cursor: pointer;
  }
  .cart_checkout {
    width: 270px;
    max-width: 100%;
  }
  .cart_checkout .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  .cart_checkout .amount {
    font-weight: 700;
  }
  .rmv {
    font-size: 20px;
    color: red;
    transform: translateY(-20px);
   

  }
  .cart_checkout p {
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
  }
  .cart_checkout button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #5E3EBB;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .cart_checkout button:hover {
    background-color: #5d3ebbe8;
  }
  .continue_shopping,
  .start_shopping {
    margin-top: 1rem;
  }
  .continue_shopping a,
  .start_shopping a {
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .continue_shopping a span,
  .start_shopping a span {
    margin-left: 0.5rem;
  }
  .cart_empty {
    font-size: 20px;
    margin-top: 2rem;
    color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /*btn delete*/
  .button_delete {
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .button_delete, .button_delete span {
    transition: 200ms;
   }
   
   .button_delete .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .button_delete .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .button_delete svg {
    width: 15px;
    fill: #eee;
   }
   
   .button_delete:hover {
    background: #ff3636;
   }
   
   .button_delete:hover .text {
    color: transparent;
   }
   
   .button_delete:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .button_delete:focus {
    outline: none;
   }
   
   .button_delete:active .icon svg {
    transform: scale(0.8);
   }