.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  padding: 30px 0;
}

.wrapper .title {
  background: #6c4fc1;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  letter-spacing: 5px;
  height: 35px;
  line-height: 38px;
  color: #fff;
  margin-bottom: 10px;
}

.checkout_form {
  padding: 0 30px;
}

.checkout_form .input_item input[type="text"] {
  width: 100%;
  border: 0;
  background: transparent;
  text-align: center;
  border-bottom: 2px solid #dddddd;
  padding: 10px;
  transition: all 0.5s ease;
  color: gray;
  font-size: 18px;
  outline: none;
}
.checkout_form .input_item input[type="number"] {
  width: 100%;
  border: 0;
  background: transparent;
  text-align: center;
  border-bottom: 2px solid #dddddd;
  padding: 10px;
  transition: all 0.5s ease;
  color: gray;
  font-size: 18px;
  outline: none;
}

.checkout_form .input_item {
  margin-bottom: 10px;
}

.input_grp {
  margin-bottom: 10px;
}

.input_grp,
.input_grp .input_item.expiry_field {
  display: flex;
  justify-content: space-between;
}

.input_grp .input_item {
  width: 45%;
}

.input_grp .input_item.expiry_field input[type="text"] {
  width: 45%;
}

.btn {
  width: 150px;
  background: gold;
  margin: 0 auto;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 20px;
}
.btn:hover {
  transition: 0.5s ease-in-out;
  background: rgba(255, 217, 0, 0.633);
}
.btn button {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  color: #6c4fc1;
  background: none;
  text-align: center;
  margin: auto;
  border: none;
}

.checkout_form .input_item input[type="text"]:focus {
  border-bottom: 2px solid gray;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #dddddd;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #dddddd;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #dddddd;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 350;
  }
}
